node_modules/
**/node_modules/
**/dist/
**/build/
dist/
build/
.env
.env.*
.vscode/
.DS_Store
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
/.parcel-cache/
/.cache/
/.nyc_output/
coverage/
*.local
